.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 6rem;
}

.input{
    display: flex;
    justify-content: center;
    align-items: center;
}


.letter{
    padding-right: 0.5rem;
}
